<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MEDICLASSICS</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/ebookshelf.css" rel="stylesheet">



</head>

<body ng-app="ebookshelf">

	<ul class="nav nav-tabs">
 		<li ng-class="active"><a href="#">Home</a></li>
		<li><a href="#">Menu 1</a></li>
		<li><a href="#">Menu 2</a></li>
		<li><a href="#">Menu 3</a></li>
	</ul>

    <!-- Page Content -->
	<!-- http://stackoverflow.com/questions/25864169/need-html-css-styling-for-book-shelf -->

	<div class="container" ng-controller="ebookshelfCtrl">

	    <div class="row" ng-repeat="sixbooks in ebookinfos">

				<div class="col-xs-4 col-md-2" ng-repeat="ebook in sixbooks.slice(0,3)">
		          <a ng-href="{{ebook.url.ebook}}" target="_blank"><img ng-src="{{ebook.url.coverImg}}" class="img-responsive book"></a>
		       	</div>

		        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>

				<div class="col-xs-4 col-md-2" ng-repeat="ebook in sixbooks.slice(3,6)">
		          <a ng-href="{{ebook.url.ebook}}" target="_blank"><img ng-src="{{ebook.url.coverImg}}" class="img-responsive book"></a>
		       	</div>

	        	<div class="col-xs-12 shelf"></div>

	    </div>
	</div>

	<div class="container" ng-controller="offbookshelfCtrl">

	    <div class="row" ng-repeat="sixbooks in ebookinfos">

				<div class="col-xs-4 col-md-2" ng-repeat="ebook in sixbooks.slice(0,3)">
		          <a ng-href="{{ebook.url.ebook}}" target="_blank"><img ng-src="{{ebook.url.coverImg}}" class="img-responsive book"></a>
		       	</div>

		        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>

				<div class="col-xs-4 col-md-2" ng-repeat="ebook in sixbooks.slice(3,6)">
		          <a ng-href="{{ebook.url.ebook}}" target="_blank"><img ng-src="{{ebook.url.coverImg}}" class="img-responsive book"></a>
		       	</div>

	        	<div class="col-xs-12 shelf"></div>

	    </div>
	</div>


    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.min.js"></script>
	<script src="js/ng-bookshelf.js"></script>
</body>

</html>
