<!-- Page Content -->
<!-- http://stackoverflow.com/questions/25864169/need-html-css-styling-for-book-shelf -->
<link href="css/ebookshelf.css" rel="stylesheet">

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">{{title.main}}
			<small ng-bind="title.desc"></small>
			<small><a class="btn btn-sm btn-info pull-right" ng-click="openSheets()">sheets</a></small>
		</h1>
	</div>
</div>

<div class="container" ng-hide="booklistloaded">
	<div ng-include="'parts/loading.html'"></div>
</div>

<div class="container" ng-show="booklistloaded">

	<div class="row" ng-repeat="sixbooks in ebookinfos">

			<div class="col-xs-4 col-md-2" ng-repeat="ebook in sixbooks.slice(0,3)">
			  <a ng-href="{{ebook.url.ebook}}" target="_blank"><img ng-src="{{ebook.url.coverImg}}" class="img-responsive book"></a>
			</div>

			<div class="col-xs-12 shelf hidden-md hidden-lg"></div>

			<div class="col-xs-4 col-md-2" ng-repeat="ebook in sixbooks.slice(3,6)">
			  <a ng-href="{{ebook.url.ebook}}" target="_blank"><img ng-src="{{ebook.url.coverImg}}" class="img-responsive book"></a>
			</div>

			<div class="col-xs-12 shelf"></div>

	</div>
</div>
