<!-- Page Header -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">부가서비스
			<small>한의학고전DB</small>
		</h1>
	</div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
	<div class="col-md-6 portfolio-item">
		<a href="https://mediclassics.github.io/apps/dist-texts/index.html" target="_blank">
			<img class="img-responsive" src="img/db-apps-dist-text.png">
		</a>
		<h3>
			<a href="https://mediclassics.github.io/apps/dist-texts/index.html" target="_blank">고의서 원문 배포 서비스</a>
		</h3>
		<p>한의학고전DB에서 제공하고 있는 고의서 원문을 다운로드 받을 수 있습니다.</p>
	</div>
	<div class="col-md-6 portfolio-item">
		<a href="" target="_blank">
			<img class="img-responsive" src="http://placehold.it/700x400">
		</a>
		<h3>
			<a href="" target="_blank">준비중입니다.</a>
		</h3>
		<p>준비중입니다.</p>
	</div>
</div>
