<link href="css/table.css" rel="stylesheet">

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">서적목록 및 이용현황
			<small>고전한의번역서 eBook</small>
		</h1>
	</div>
</div>

<div class="container" ng-hide="booklistloaded">
	<div ng-include="'parts/loading.html'"></div>
</div>

<div class="container" ng-show="booklistloaded">

<table class="table table-striped table-hover table-responsive">
	<thead  class="thead-default">
		<tr>
			<th>#</th>
			<th>제목</th>
			<th>전체이용량(건)</th>
			<th>고유이용자(명)</th>
			<th>다운로드(건)</th>
			<th>열람하기</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="ebook in ebook_traffic | orderBy: 'created'">
			<th scope="row" ng-bind="$index+1"></td>
			<td ng-bind="ebook.title"></td>
			<td ng-bind="ebook.traffic.total | number"></td>
			<td ng-bind="ebook.traffic.unique | number"></td>
			<td ng-bind="ebook.traffic.downloads | number"></td>
			<td>
				<a class="btn btn-default" ng-href="{{ebook.urls.homepage}}" target="_blank">
					열기 <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
				</a>
			</td>
		</tr>
	</tbody>
</table>

</div>
