<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">한의학 고문헌
			<small>Web Services</small>
		</h1>
	</div>
</div>


<!-- Project One -->
<div class="row">
	<div class="col-md-7">
		<a href="#">
			<img class="img-responsive" src="img/01.jpg" alt="">
		</a>
	</div>
	<div class="col-md-5">
		<h3>한의학고전DB</h3>
		<h4>한의학 고전을 웹에서 만나다</h4>
		<p>한의학 고문헌을 웹에서 열람하고 검색할 수 있는 서비스입니다. </p>
		<!-- <div class="btn-group"> -->
			<a class="btn btn-primary" href="https://mediclassics.kr">바로가기
				<span class="glyphicon glyphicon-chevron-right"></span></a>
			<a class="btn btn-info" href="#/db/list">서적목록
				<span class="glyphicon glyphicon-chevron-right"></span></a>
			<a class="btn btn-info" href="https://mediclassics.github.io/document/">이용가이드
				<span class="glyphicon glyphicon-chevron-right"></span></a>
		<!-- </div> -->
		<br><br>
		<a class="btn btn-primary" href="#/db/apps">부가서비스
			<span class="glyphicon glyphicon-chevron-right"></span></a>

	</div>
</div>
<!-- /.row -->

<hr>

<!-- Project Two -->
<div class="row">
	<div class="col-md-7">
		<a href="#">
			<img class="img-responsive" src="http://placehold.it/700x300" alt="">
		</a>
	</div>
	<div class="col-md-5">
		<h3>고전한의번역서 eBook</h3>
		<h4>한의학 고전을 eBook으로 만나다</h4>
		<p>한국 전통의학을 이해하는데 중요한 서적들을 번역하여 간행하고 있습니다.</p>
		<a class="btn btn-primary" href="#/shelf/ebook">바로가기
			<span class="glyphicon glyphicon-chevron-right"></span></a>
		<a class="btn btn-info" href="https://www.gitbook.com/book/kmongoing/guide/details">이용가이드
			<span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
</div>
<!-- /.row -->

<hr>

<!-- Project Two -->
<div class="row">
	<div class="col-md-7">
		<a href="#">
			<img class="img-responsive" src="http://placehold.it/700x300" alt="">
		</a>
	</div>
	<div class="col-md-5">
		<h3>비정기 발간서</h3>
		<h4>국역서 / 다국어 번역서 / 연구서</h4>
		<p>한국 전통의학 연구에 도움이 되는 서적들을 비정기적으로 간행하고 있습니다.</p>
		<a class="btn btn-primary" href="#/shelf/의안정선">의안정선시리즈
			<span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
</div>
<!-- /.row -->

<hr>

<!-- Project Three -->
<div class="row">
	<div class="col-md-7">
		<a href="#">
			<img class="img-responsive" src="http://placehold.it/700x300" alt="">
		</a>
	</div>
	<div class="col-md-5">
		<h3>내손안에동의보감</h3>
		<h4>동의보감 모바일 앱</h4>
		<p>동의보감을 열람하고 검색할 수 있도록 최적화된 모바일 어플리케이션입니다.</p>
		<a class="btn btn-primary" href="https://goo.gl/0rjUQc">Google Play
			<span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
</div>
<!-- /.row -->
