
{% for prj in site.data.main.prj %}

<!-- Project -->
<div class="row">
    <div class="col-md-7">
        <a href="{{ prj.link | replace: "BASEURL", site.baseurl }}" target="_blank">
            <img class="img-responsive" src="{{ prj.img }}" alt="">
        </a>
    </div>

    <div class="col-md-5">
        <h3>{{ prj.title }}&nbsp&nbsp&nbsp<small>{{ prj.title2 }}</small></h3>
        <h4>{{ prj.subtitle }}</h4>
        <p>{{ prj.desc }}</p>
        <!-- <div class="btn-group"> -->
            {% for btn in prj.btns %}
            <a class="btn btn-primary" href="{{ btn.link | replace: "BASEURL", site.baseurl }}" target="_blank">
                {{ btn.text }} {{ site.baseurl }}
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            {% endfor %}

    </div>
</div>
<!-- /.row -->
<hr>
{% endfor %}
