<style>
.img-responsive {
    /*width: auto; height: auto;*/
    height: 300px;
}
</style>

<!-- Page Header -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">부가서비스
			<small>한의학고전DB</small>
		</h1>
	</div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
	<div class="col-md-6 portfolio-item">
		<a href="{{site.baseurl}}/contents/database/dashboard" target="_blank">
			<img class="img-responsive" src="{{ site.baseurl}}/img/db-dashboard.png">
		</a>
		<h3>
			<a href="{{site.baseurl}}/contents/database/dashboard" target="_blank">한의학고전DB Dashboard</a>
		</h3>
		<p>한의학고전DB 데이터 크기 및 사용량을 확인할 수 있습니다.</p>
	</div>
	<div class="col-md-6 portfolio-item">
		<a href="{{site.baseurl}}/apps/dist-texts/index.html" target="_blank">
			<img class="img-responsive" src="{{ site.baseurl}}/img/db-apps-dist-text.png">
		</a>
		<h3>
			<a href="https://mediclassics.github.io/apps/dist-texts/index.html" target="_blank">고의서 원문 배포 서비스</a>
		</h3>
		<p>한의학고전DB에서 제공하고 있는 고의서 원문을 다운로드 받을 수 있습니다.</p>
	</div>
</div>

<div class="row">
	<div class="col-md-6 portfolio-item">
		<a href="{{site.baseurl}}/apps/hanzitn/index.html" target="_blank">
			<img class="img-responsive" src="{{ site.baseurl}}/img/hanzitn.png">
		</a>
		<h3>
			<a href="https://mediclassics.github.io/apps/hanzitn/index.html" target="_blank">Hanzi Text Normalizer</a>
		</h3>
		<p>디지털로 입력할 때 한자의 이중코드자, 이체자를 병합해 줍니다. 한자 디지털화와 관련된 자료들도 링크되어 있습니다.</p>
	</div>
  <div class="col-md-6 portfolio-item">
		<a href="{{site.baseurl}}/demo-collocation-viewer/" target="_blank">
			<img class="img-responsive" src="{{ site.baseurl}}/img/demo-collocation-viewer.png">
		</a>
		<h3>
			<a href="//info.mediclassics.kr/demo-collocation-viewer/" target="_blank">고문헌 분석 서비스(demo)</a>
		</h3>
		<p>고문헌의 내용을 분석할 수 있습니다.</p>
	</div>
</div>
